<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <style>
      body{
        background-color: darkslateblue;
      }
    </style>
</head>
<body>
    <h1>About myproject App</h1>
    <p>This page is About page of myapp app</p>  
    <a href="/">Click Me</a>
<script>
 document.getElementById("a").addEventListener("dblclick", function(){
            alert("Button is clicked");
        });
</script>
</body>
</html>