{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <h1>Hello, Django</h1>
        <p>Welcome to home page of Django Application</p>
        <a href="/about">Go to About</a>
    </div>
{% endblock %}















<!-- <!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="{%static 'styles/index.css' %}" rel="stylesheet">
    <script src="{% static 'script/main.js' %}" defer></script>
    <script src="{% static 'script/home.js' %}" defer></script>
    <script src="{% static 'script/about.js' %}" defer></script>
</head>
<body>0
    <class>
        <h1>Hello Django</h1>
        <p>This will lead you to your desired webpage.</p>
        <a href="{%static 'about.html' %}">click me</a>
    </class>
    <!-- <h1>About myproject App</h1>
    <p>This page is home page of myproject app</p> -->
</body>
</html> -->