<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Details page</h1>
    <h2>{{ Student.name}}</h2>
    <p>Roll no: {{Student.roll_no}}</p>
    <p>Current Semester: {{Student.slug}}</p>
    {% if Student.photo %}
        <img src="{{Student.photo.url}}" alt="{{Student.name}}'s photo" style="max-width: 200px;">
{% else %}
      <p>No Photo Available</p>
{% endif %}
</body>
</html>

