.logo {
    width: 150px;
    height: 50px;
    padding:10px;
    color:beige;
}
.container div {
            display: inline-block;
            animation: both;
            clear: both;
            overflow: hidden;
            white-space: nowrap;
            grid-template-columns:auto;
            background-color: black;
            padding: auto;
            color: ;
        }
.container div {
            background-color: burlywood;
            border-radius: 5px;
            box-shadow: inset;
            border: 1px solid black;
            padding: 5px; 
        }
.pic {
    width: 150;
    height:300px;
    align-content : center;
}
input{
    width: 300px;
    height:auto;
    padding-bottom: 11px;
    background-color:goldenrod;
    align-items: center;
    
}
.shop{
    width: 150;
    height: 300px;
}
footer{
    padding:10px;
    background-color: burlywood;
    
}
.photo{
    width: 280px;
    height:160px;
}
.block{
    padding-bottom: 4px;
    align-items: center;
}
.red{
    display: flex;
    align-items: center;
    width: 10px;
    height:auto;
}
.box:hover{
    background-color:darkgoldenrod;
    
}
.brown{
    color: brown;
}
hr{
    background-color: crimson;
    width:850px;
    height: 2px;
}